<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Bienvenue chez All-in-1.fr</title>
  <style>
    h2 {
      color: #c4c4c4;
    }
  </style>
</head>
<body>
  <h2>Bienvenue chez All-in-1.fr</h2>
  <p>Nous sommes heureux de confirmer ton inscription. </p>
  <p>Tu trouveras ci-dessous tes informations de connexion</p>
  <ul>
    <ol>Pseudo: {{name}}</ol>
    <ol>Mail: {{email}}</ol>   
  </ul>
</body>
</html>